li.nav-item {
    margin-left: 0.5rem;
    list-style: none;
}
#connections {
    width: 15rem;
    height: 2rem;
    font-size: 14pt;
}

#is_connected {
    display: none;
}

#controls {
    position: relative;
    padding: 5px;
}

#command {
    width: 15rem;
}

#terminal {
    padding: 0.5rem;
    min-height: 600px;
    color: #ffffff;
    background-color: #000000;
}

#modify {
    position: relative;
}

#modifiers {
    position: absolute;
    top: 1.45rem;
    left: 0;
    padding: 5px;
    min-width: 12rem;
    z-index: 99;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    li {
        cursor: pointer;
        &:hover {
            background-color: #eeeeee;
        }
    }
}

.no-margin {
    padding: 0 !important;
}

.scripts {
    height: 1.7rem;
}

.term-btn {
    position: relative;
    top: -1px;
    color: #ffffff;
    background-color: #0000dd;
    border: 1px solid #0000dd;
    border-radius: 3px;
    &.danger {
        background-color: #cc0000;
        &:hover {
            background-color: #990000;
        }
    }
    &:hover {
        background-color: #000099;
    }
}
.float-right {
    float: right;
    margin-left: 0.25rem;
}

#script_editor,
#modifier_editor {
    width: 100%;
    height: 400px;
    padding: 5px;
    font-family: "Andale Mono", serif;
}
